#event-block {
  .content-wrap {
    .content {
      &__image {
        animation: contentHexMove2 25s infinite linear;
      }
      &__text {
        animation: contentHexMove1 15s infinite linear;
      }
      &__btn {
        .btn-link {
          .btn-bg {
            transform: rotate(10deg);

            @media (max-width: 480px) {
              transform: rotate(-10deg);
            }
          }
        }
      }
    }
  }
  .content-bg {
    .bg-hex {
      &:nth-child(1) {
        animation: contentHexMove3 15s infinite linear;
      }
      &:nth-child(2) {
        animation: contentHexMove4 25s infinite linear;
      }
    }
  }
}