include ../../mixins/menuItem.pug

-
  var sidebarMenuItem = {
      1:{
          title: "首頁管理",
          item: {
              1:{
                title: "首頁輪播管理",
                link: "/admin/slideshow"
              },
              2:{
                title: "內容管理",
                link: "/admin/index/edit"
              }
          }
      },
      2:{
          title: "關於我們管理",
          item: {
              1:{
                title: "內容管理",
                link: "/admin/about/edit"
              }
          }
      },
      3:{
          title: "服務項目管理",
          item: {
              1:{
                title: "內容管理",
                link: "/admin/service/edit"
              }
          }
      },
      4:{
          title: "工廠介紹管理",
          item: {
              1:{
                title: "內容管理",
                link: "/admin/factory/edit"
              }
          }
      },
      5:{
          title: "最新消息管理",
          item: {
              1:{
                title: "最新消息列表",
                link: "/admin/news"
              }
          }
      },
      6:{
          title: "聯絡我們管理",
          item: {
              1:{
                title: "表單回傳",
                link: "/admin/webform"
              },
              2:{
                title: "內容管理",
                link: "/admin/contact/edit"
              }
          }
      },
      7:{
          title: "網站系統管理",
          item: {
              1:{
                title: "網站資訊管理",
                link: "/admin/system/edit"
              },
              2:{
                title: "後台帳號管理",
                link: "/admin/user"
              }
          }
      }
  }



#admin-sidebar-block.admin-sidebar-block
    .sidebar-menu-list
        ul.menu-list
            each item,index in sidebarMenuItem
                +adminMenuItem(item)
    .sidebar-producer
        .sidebar-producer__content Produced by:
        .sidebar-producer__link 
            a(href="https://www.yimaninfotek.net/") Benshi
