include ../../../mixins/block_title.pug

#index-about-block
    .about
        .about__left
            .about__left__imageblock.top-left.z-index-1
                .imageblock__image.item-about-image-1
            .about__left__imageblock.bottom-right 
                .imageblock__image.item-about-image-2
        .about__detail
            .about__detail__block
                +blockTitle('item-about-title-1')
                .block__content
                    //- <p class="block__content__description">飛碩創立源自於一群堅持品質和工藝美學的資深工程團隊，堅持自我初衷及服務熱忱，菁英工程團隊秉持多年原型製造上的專業技能，以服務客戶至上的理念，產品多層次品管，創造無數客戶滿意產品，深得客戶信賴．講究精工雕琢的製作方式將客戶的作品視為獨一無二的藝術品，使得飛碩的客戶短時間內遍及美洲、歐洲、亞洲等多國，飛碩持續的發展．</p>

                    //- <p class="block__content__title">高度保密安全</p>

                    //- <ul class="block__content__list">
                    //-     <li class="list__single"><img class="list__single__icon" src="../../../../images/check.png" />
                    //-     <p class="list__single__description">客戶和供應商簽定並履行保密協議．</p>
                    //-     </li>
                    //-     <li class="list__single"><img class="list__single__icon" src="../../../../images/check.png" />
                    //-     <p class="list__single__description">辦公室及廠區必須做身分確認．</p>
                    //-     </li>
                    //-     <li class="list__single"><img class="list__single__icon" src="../../../../images/check.png" />
                    //-     <p class="list__single__description">所有資訊、郵件、零件等都列入24小時安全防護系統．</p>
                    //-     </li>
                    //-     <li class="list__single"><img class="list__single__icon" src="../../../../images/check.png" />
                    //-     <p class="list__single__description">模型包裝由公司內部自行完成，以保護客戶產品．</p>
                    //-     </li>
                    //- </ul>

                    //- <p class="block__content__title">我們的任務</p>

                    //- <p class="block__content__description">飛碩提供客戶多元的資源協助,每個專案都有獨立的業務窗口及資深專案人員提共個別完整服務.世界級的菁英工程團隊與客戶緊密合作,於短時間內達到客戶產品要求.飛碩不斷培育新技術、新知識及更新資源,增進飛碩菁英團隊能力,確保客戶的設計得以迅速實現.</p>