include ../../../mixins/block_title.pug

#index-contact-block.index-contact-block.container__inbox
    .contact
        .contact__left
            .contact__left__title
                +blockTitle('item-contact-title')
            .contact__left__subtitle.item-contact-subtitle
            .contact__left__form
                include  ../../../components/contact_form.pug
        .contact__right
            img(src="../images/contact-logo.png").contact__right__logo
            .contact__right__title
                .title__content 我們的辦公室
            ul.contact__right__list
                li.list__item
                    .list__item__content 電話：
                    .list__item__content.item-contact-phone
                li.list__item
                    .list__item__content 傳真：
                    .list__item__content.item-contact-fax
                li.list__item
                    .list__item__content 信箱：
                    .list__item__content.item-contact-email
            .contact__right__title
                .title__content 辦公室地圖
            .contact__right__address
                .address__content 地址：
                .address__content.item-contact-address
            .contact__right__map
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.463554770744!2d121.46196321562972!3d25.05227298396382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a88a35ded027%3A0x4ee10f0f5fe4c2c9!2zMjQy5paw5YyX5biC5paw6I6K5Y2A6aCt5YmN6LevMTE16JmfOA!5e0!3m2!1szh-TW!2stw!4v1571021391963!5m2!1szh-TW!2stw" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="")

        