#index-info-block
    .info
        .info__content
            div.info__detail
                p.info__deatil__title.item-info-title 
                p.info__detail__description.item-info-content 
            ul.info__feature.item-info-list
                li.info__feature__single.item-template
                    .info__feature__image-block
                        img(src="/").info__feature__image.item-template-image
                    p.info__feature__title.item-template-title 
                    p.info__feature__description.item-template-content 
        