include ../../../mixins/block_title.pug

#index-news-block
    .news.container__inbox
        .news__title
            +blockTitleCustom('最新消息')
        .news__content-wrapper
            ul.news__list.item-index-news-list
                li.news__list__item.item-index-news-template
                    a(href="#").item__link.item-index-news-template-link
                        .block-news
                            .block-news__left
                                .block-news__icon
                                    img(src="../images/edit-gray.png").block-news__icon__1
                                    img(src="../images/edit-orange.png").block-news__icon__2
                                p.block-news__content.item-index-news-template-date
                            p.block-news__content.content__des.text-ellipsis.item-index-news-template-title
                            .block-news__icon.arrow__icon
                                img(src="../images/arrow-gray.png").block-news__icon__1
                                img(src="../images/arrow-orange.png").block-news__icon__2
        .news__button
            a(href="news.html").news__button__link
                    p.link__title 更多最新消息
                    img(src="../images/arrow-white.png").link__arrow.link__arrow__white
                    img(src="../images/arrow-orange.png").link__arrow.link__arrow__orange