//input & textarea 錯誤訊息樣式
.error-message{
    color: #d00d00;
    font-size: $font-size-12;
    padding-top: 10px;
    display: block;
}
#page-title{
    display: none;
}

.page-placeholder-text{
    color: #949090;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    margin-bottom: 12px;
}

// 右側內容頁 上層控制層
.admin-page-header-controller-button-block{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    &._mb15{
        margin-bottom: 15px;
    }
    .button-block__item{
        margin-right: 15px;
    }
}

// 右側內容頁 列表check 事件 顯示隱藏刪除 控制層
.admin-show-hide-delete-button-block{
    display: none;
    align-items: center;
    margin-top: 3px;
    &__line{
        width: 2px;
        height: 30px;
        background-color: #eaeaea;
        opacity: 0;
        @include transition(.4s);
    }
    &__icon-block{
        display: flex;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        @include transition(.4s);
        margin-left: 15px;
        &__item{
            margin-right: 20px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            &:last-child{
                margin-right: 0;
            }
            &.show-icon{
                background: url('../images/backend/show-icon.png');
                background-size: contain;
                @include transition(.4s);
                &:hover{
                    background: url('../images/backend/show-icon-green.png');
                    background-size: contain;
                    @include transition(.4s);
                }
            }
            &.hide-icon{
                background: url('../images/backend/hide-icon.png');
                background-size: contain;
                @include transition(.4s);
                &:hover{
                    background: url('../images/backend/hide-icon-green.png');
                    background-size: contain;
                    @include transition(.4s);
                }
            }
            &.delete-icon{
                background: url('../images/backend/delete-icon.png') center center no-repeat;
                background-size: contain;
                width: 22px;
                @include transition(.4s);
                &:hover{
                    background: url('../images/backend/delete-icon-green.png') center center no-repeat;
                    background-size: contain;
                    width: 22px;
                    @include transition(.4s);
                }
            }
        }
    }
    &.show{
        display: flex;
        .admin-show-hide-delete-button-block__icon-block{
            opacity: 1;
            pointer-events: visible;
            @include transition(.4s);
        }
        .admin-show-hide-delete-button-block__line{
            opacity: 1;
            @include transition(.4s);
        }
    }
}