// 顏色變數
$colorMain: #ff4438;       // 主色系
$colorSecond: #424242;       // 次色系
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorSidebar1: #949090;
$colorSidebar2: #e6e6e6;
$colorSidebar3: #f4f4f4;
$colorDashed: #dddddd;
$colorTableBroderColor: #eaeaea;
$colorTableTop: #e2e2e2;
$colorTableOdd: #f3f3f3;
$colorTableEven: #ffffff;
$colorTableHover: #ff433814;
$color1: #fafafa;
$color2: #f9f9f9;
$color3: #e6e6e6;
$color4: #d2d2d2;
$color5: #ff0000;
$color6: #efefef;



// 文字size
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;