.admin-backend-page {
    width: 100%;
    overflow-x: hidden;
    header {
        background-color: $colorWhite;
    }
    main {
        display: flex;
        flex-wrap: nowrap;
        min-height: calc(100vh - 60px);
        .admin-sidebar {
            min-width: 200px;
            background-color: $colorWhite;
        }
        .admin-content {
            position: relative;
            width: 100%;
            background-color: #fafafa;
            padding: 24px;
            padding-bottom: 100px;
            box-sizing: border-box;
        }
    }
}

//右邊內容頁佈局
.admin-page-inbox{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
    &._add-line{
        .admin-item-block{
            padding-bottom: 10px;
            border-bottom: 1px dashed #dddddd;
            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
    .admin-page-inbox__left{
        margin-right: 12px;
        width: calc(50% - 12px);
    }
    .admin-page-inbox__right{
        margin-left: 12px;
        width: calc(50% - 12px);
    }
}

//右邊內容頁按有區塊佈局
.admin-page-inbox-button-wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}