#admin-header-block.admin-header-block
    .header-left-content
        a(href="/admin-dashboard.html").header-left-content__logo.content-logo
            <img src="../images/backend/logo-orange.png" alt="fsource-logo" title="fsource-logo">
        .header-left-content__sidebar-btn#admin-sidebar-btn
            .btn-line
            .btn-line
            .btn-line
    .header-right-content
        .header-right-content__page-title.page-title
        .header-right-content__user-info
            .header-right-content__user-info__item.user-status Admin, 2018/12/15 15:00
            .header-right-content__user-info__logout-btn
                button(type="submit")#logout-btn 登出
