//dom 模板
.template{
    display: none!important;
}

//字數省略...
.text-ellipsis{
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    width : 100%;
}

//字行省略...
.text-line-height-ellipsis{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    &.line-3{
        -webkit-line-clamp: 3;
    }
    &.line-4{
        -webkit-line-clamp: 4;
    }
    &.line-5{
        -webkit-line-clamp: 5;
    }
}
