form#contact_form.contact_form(action="",method="")
//-     .form__input__block
//-         label(for="name").block__title 姓名
//-         input(type="text", name="name", id="name", placeholder="請輸入姓名").block__input.block__input-textarea-style
//-         .block__error
//-     .form__input__block
//-         label(for="phone").block__title 電話
//-         input(type="number", name="phone", id="phone", placeholder="請輸入電話號碼").block__input.block__input-textarea-style
//-         .block__error
//-     .form__input__block
//-         label(for="email").block__title 電子郵件
//-         input(type="email", name="email", id="email", placeholder="請輸入電子郵件").block__input.wdp100.block__input-textarea-style
//-         .block__error
//-     .form__input__block
//-         label(for="title").block__title 主旨
//-         input(type="text", name="title", id="title", placeholder="請輸入主旨").block__input.wdp100.block__input-textarea-style
//-         .block__error
//-     .form__input__block
//-         label(for="content").block__title 詢問內容
//-         textarea(name="content", id="content", placeholder="請輸入詢問內容" autocomplete="off").block__textarea.block__input-textarea-style
//-         .block__error
//-     button(type="submit").form__submit.admin-form-button
//-         p.form__submit__content 送出
//-         img(src="../images/arrow-white.png").form__submit__arrow.arrow-white
//-         img(src="../images/arrow-orange.png").form__submit__arrow.arrow-orange