#footer-block
    .footer__bottom__content &#169;2019 F-source. All Rights Reserved
    .footer__bottom__content Produced by 
        a(href="https://www.yimaninfotek.net/", target="_blank").content__link Yiman Infotek