include ../mixins/menuItem.pug

-
  var mainMenuData = {
    1:{
      title: '關於我們',
      herf: '/about',
    },
    2:{
      title: '服務項目',
      herf: '/service',
    },
    3:{
      title: '工廠介紹',
      herf: '/factory',
    },
    4:{
      title: '最新資訊',
      herf: '/news',
    },
    5:{
      title: '聯絡我們',
      herf: '/contact',
    }
  }


#navbar.container