<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .main-content
    .area-content
      .area-content__items
        .item
          .item__content
            .title 01.
            .content Media
          .item__mask
          .item__bg
            img(src="../images/area-1.jpg")
      .area-content__items
        .item
          .item__content
            .title 01.
            .content Media
          .item__mask
          .item__bg
            img(src="../images/area-2.jpg")
      .area-content__items
        .item
          .item__content
            .title 01.
            .content Media
          .item__mask
          .item__bg
            img(src="../images/area-3.jpg")
      .area-content__items
        .item
          .item__content
            .title 01.
            .content Media
          .item__mask
          .item__bg
            img(src="../images/area-4.jpg")
      .area-content__items
        .item
          .item__content
            .title 01.
            .content Media
          .item__mask
          .item__bg
            img(src="../images/area-5.jpg")