.default-content-layout {
    max-width: 1440px;
    width: 100%;
    padding: 130px 30px 0px 30px;
    margin: 0 auto;
    box-sizing: border-box;
    @media (max-width: 1024px) {
        padding: 50px 30px 0px 30px;
    }
}