.main-content {
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  position: relative;
  font-family: Montserrat;

  #stats {
    display: none;
  }

  #webGl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    transition: all 1s;

    &.start {
      opacity: 1;
    }
  }

  .main-menu-block {
    display: none;
    // height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
  }

  #bg-line {
    width: 200vh;
    height: 1px;
    background-color: #ffffff;
    position: fixed;
    top: 50vh;
    left: 0;
    z-index: 5;
    opacity: 0;
    transform: rotate(-30deg);
    transition: all .5s;
  }

  .content-logo {
    display: none;
    width: auto;
    height: 35px;
    position: fixed;
    top: 40px;
    left: 65px;
    z-index: 30;

    img {
      width: auto;
      height: 100%;
    }

    @media (max-width: 1440px) and (min-width: 1025px) {
      width: 150px;
    }

    @media (max-width: 1024px) {
      
    }

    @media (max-width: 481px) {
      width: 200px;
      top: 20px;
      left: 25px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .main-content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
    transition: all .5s;
    z-index: 10;
    opacity: 1;
    -webkit-overflow-scrolling: auto;

    &.hide {
      opacity: 0;
    }
    
    .main-area {
      position: relative;
      height: 100%;
      z-index: 10;
    }
  
    .content-area {
      width: 100%;
      height: 100%;
      padding: 0px 30px;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      opacity: 0;

      @media (max-width: 480) {
        padding: 0px 15px;
      }
    }
  }

  #special-area-block, #special-event-block {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
  }
}