.main-content {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  position: relative;

  #stats {
    display: none;
  }

  #webGl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .main-menu-block {
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
  }

  .main-content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
    transition: all .5s;
    z-index: 10;
    opacity: 1;

    &.hide {
      opacity: 0;
    }

    #bg-line {
      width: 100vw;
      height: 3px;
      background-color: #ffffff;
      position: absolute;
      z-index: 5;
    }
    
    .main-area {
      position: relative;
      height: 100%;
      z-index: 10;
    }
  
    .content-area {
      width: 100%;
      height: 100%;
      padding: 0px 30px;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      opacity: 0;
    }
  }

  #special-area-block, #special-event-block {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
  }
}