extends ../../../layouts/backend-default.pug
include ../../../mixins/admin-form-button.pug
block head
    title
block content
    form#backend-system-user-edit-block.backend-system-user-edit-block
        .admin-backend-page-inbox
            .admin-form.event-slide
                .admin-form__header
                    .header__title 帳號 - 修改
                .admin-form__content.input-mode
                    .admin-form__content__item-block
                        .admin-input-block
                            label.admin-input-block__label.required 登入帳號：
                            .admin-input-block__content
                                input(type="text" name="account").admin-input-block__content__input#account
                    .admin-form__content__item-block
                        .admin-input-block
                            label.admin-input-block__label.required 登入密碼：
                            .admin-input-block__content
                                input(type="password" name="password").admin-input-block__content__input#password
                    .admin-form__content__item-block
                        .admin-input-block
                            label.admin-input-block__label.required 再次確認：
                            .admin-input-block__content
                                input(type="password" name="confirm_password").admin-input-block__content__input#confirm-password
                    .admin-form__content__item-block
                        .admin-input-block
                            label.admin-input-block__label.required 名稱：
                            .admin-input-block__content
                                input(type="text" name="user_name").admin-input-block__content__input#user-name
                    .admin-form__content__item-block
                        .admin-input-block
                            label.admin-input-block__label.required 電子信箱：
                            .admin-input-block__content
                                input(type="email" name="email").admin-input-block__content__input#email
        .admin-backend-page-inbox-button-wrapper
                        +adminFormButton('save','儲存')                        
