extends ../../../layouts/backend-default.pug
include ../../../mixins/admin-form-button.pug

block head
    title

block content
    #admin-system-user-list-block.admin-system-user-list-block
        .add-new-item
            a(href="/admin/user/add")
                +adminFormCustomButton("add-new-item","新增項目")
        .system-user-list-wrapper
            table#admin-system-user-list.admin-table-style
                thead
                    tr
                        th #
                        th 帳號
                        th 名稱
                        th 電子信箱
                        th 最後登入
                        th 建立時間
                        th 管理
                tbody
                    tr
                        td
                        td
                        td
                        td
                        td
                        td
                        td
                            .item-controller
                                .item-controller__delete
                                    a(href="/")
                                .item-controller__edit
                                    a(href="/")