.admin-form-button{
    font-size: $font-size-12;
    border: 1px solid;
    border-radius: 2px;
    box-sizing: border-box;
    min-width: 70px;
    height: 26px;
    cursor: pointer;
    line-height: 2;
    text-align: center;
    margin-right: 20px;
    @include transition(.4s);
    &.save-mode{
        background-color: $colorMain;
        color: $colorWhite;
        border-color: $colorMain;
        &:hover{
            background-color: $colorWhite;
            color: $colorMain;
            border-color: $colorMain;
            @include transition(.4s);
        }
    }
    &.custom-mode{
        background-color: $colorWhite;
        color: $colorSecond;
        border-color: $color4;
        &:hover{
            background-color: $color6;
            @include transition(.4s);
        }
    }
    &:focus{
        outline: 0;
    }
}