doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name="format-detection" content="telephone=no")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title 後台登入
        script.
            function readCookie(name) {
                let nameEQ = name + "=";
                let ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }

            let token = readCookie('token');
            
            !token ? "" : window.location = '/admin/index/edit';  
            //- if () {
            //-     window.location = '/admin/login';   
            //- }
    body
        main
            #login-block.login-block
                .login-block__inbox
                    img.inbox__logo(alt="tocin-logo" title="tocin-logo" src="../images/backend/logo-orange.png")
                    .inbox__title Welcome To Admin Panel
                    form.inbox__content#item-login-form
                        .input-block.item-input-block
                            .input-block__header
                                img(src="../images/backend/account-gray.png",alt="account-gray",title="account-gray").input-block__header__icon
                                input(type="text", name="account", id="account").input-block__header__input
                            .input-block__placeholder.item-account-error Please enter your valid account.
                        .input-block.item-input-block
                            .input-block__header
                                img(src="../images/backend/password-gray.png",alt="password-gray",title="password-gray").input-block__header__icon
                                input(type="password", name="password", id="password").input-block__header__input
                            .input-block__placeholder.item-password-error Please enter your valid account password.
                        //- H o n e y p o t
                        .input-block.ohnohoney
                            .input-block__header
                                img(src="../images/backend/account-gray.png",alt="account-gray",title="account-gray").input-block__header__icon
                                input(type="text", autocomplete="off", name="ohnohoney-account", id="ohnohoney-account").input-block__header__input
                            .input-block__placeholder Please enter your valid email address.
                        .input-block.ohnohoney
                            .input-block__header
                                img(src="../images/backend/password-gray.png",alt="password-gray",title="password-gray").input-block__header__icon
                                input(type="password", autocomplete="off", name="ohnohoney-password", id="ohnohoney-password").input-block__header__input
                            .input-block__placeholder Please enter your valid email password.
                        .submit-button
                            a.submit-button__link.item-login-button Login