#channel-block.content-block
  .content
    .content__image
      img(src="../images/slide-5.png")
    .content__text
      .line Tts D’Channel
    .content__btn
      .btn-link#area-btn
        .btn-text READ MORE
        .btn-bg
          img(src="../images/content-btn.svg")