#event-block.content-block
  .content
    .content__image
      img(src="../images/slide-4.png")
    .content__text
      .line Event
    .content__btn
      .btn-link#area-btn
        .btn-text READ MORE
        .btn-bg
          img(src="../images/content-btn.svg")