#event-block.content-block
  .content-wrap
    .content
      .content__image
        img(src="../images/slide-4.png")
      .content__btn
        .btn-link#event-btn
          .btn-text READ MORE
          .btn-bg
            img(src="../images/content-btn.png")
      .content__text
        .line Event
  .content-bg
    .bg-hex
      svg(version="1.1" viewBox="-1 -1 210 242")
        path(d="M104,0 L208,60 L208,180 L104,240 L0,180 L0,60z" stroke="#ffffff" stroke-width="0.6" fill="#ffffff" fill-opacity="0")
    .bg-hex
      svg(version="1.1" viewBox="-1 -1 210 242")
        path(d="M104,0 L208,60 L208,180 L104,240 L0,180 L0,60z" stroke="#ffffff" stroke-width="0.16" fill="#ffffff" fill-opacity="0")