.exhibition-area-block
  #area-close-btn
    img(src="../images/close.png")
  .exhibition-area
    .exhibition-area__items
      a(href="#").item
        .item__content
          .title 01.
          .content Nuts, bolts and screws
        .item__mask
        .item__bg
          img(src="../images/area-1.jpg")
    .exhibition-area__items
      a(href="#").item
        .item__content
          .title 02.
          .content Machine, Material, Mold and hand tool
        .item__mask
        .item__bg
          img(src="../images/area-2.jpg")
    .exhibition-area__items
      a(href="#").item
        .item__content
          .title 03.
          .content International pavilion
        .item__mask
        .item__bg
          img(src="../images/area-3.jpg")
    .exhibition-area__items
      a(href="#").item
        .item__content
          .title 04.
          .content Cross strait
        .item__mask
        .item__bg
          img(src="../images/area-4.jpg")
    .exhibition-area__items
      a(href="#").item
        .item__content
          .title 05.
          .content Media
        .item__mask
        .item__bg
          img(src="../images/area-5.jpg")