.exhibition-event-block
  #event-close-btn
    img(src="../images/close.png")
  .event-progress
    .bg-line
    ul.event-progress-list
      li.event-progress-list__items
        .item
          .item__content
            .text
              .line TTS Insights
            .bg
              img(src="../images/event-hex.png")
            .bg.hover
              img(src="../images/event-hex-hover.png")
          .item__month Aug.
      li.event-progress-list__items
        .item
          .item__content
            .text            
              .line Fastener Webinar
            .bg
              img(src="../images/event-hex.png")
            .bg.hover
              img(src="../images/event-hex-hover.png")
          .item__month Sep.
      li.event-progress-list__items
        .item
          .item__content
            .text
              .line Online
              .line Sourcing Meeting
            .bg
              img(src="../images/event-hex.png")
            .bg.hover
              img(src="../images/event-hex-hover.png")
          .item__month Oct.
      li.event-progress-list__items
        .item
          .item__content
            .text
              .line Fastener Insight
            .bg
              img(src="../images/event-hex.png")
            .bg.hover
              img(src="../images/event-hex-hover.png")
          .item__month Coming Soon
