.exhibition-area-block
  #area-close-btn
    img(src="../images/close.png")
  .exhibition-area
    .exhibition-area__items
      a(href="https://booth.e-taitra.com.tw/en-US/m/2020FS/14" target="_blank").item
        .item__content
          .title 01.
          .content Nuts, Bolts and Screws
        .item__mask
        .item__bg
          img(class="pc-img" src="../images/area-1.jpg")
          img(class="mobile-img" src="../images/area-mobile-1.png")
    .exhibition-area__items
      a(href="https://booth.e-taitra.com.tw/en-US/m/2020FS/14" target="_blank").item
        .item__content
          .title 02.
          .content Machine, Material, Mold and Hand Tool
        .item__mask
        .item__bg
          img(class="pc-img" src="../images/area-2.jpg")
          img(class="mobile-img" src="../images/area-mobile-2.png")
    .exhibition-area__items
      a(href="https://booth.e-taitra.com.tw/en-US/m/2020FS/14" target="_blank").item
        .item__content
          .title 03.
          .content International Pavilion
        .item__mask
        .item__bg
          img(class="pc-img" src="../images/area-3.jpg")
          img(class="mobile-img" src="../images/area-mobile-3.png")
    .exhibition-area__items
      a(href="https://booth.e-taitra.com.tw/en-US/m/2020FS/14" target="_blank").item
        .item__content
          .title 04.
          .content Cross Strait
        .item__mask
        .item__bg
          img(class="pc-img" src="../images/area-4.jpg")
          img(class="mobile-img" src="../images/area-mobile-4.png")
    .exhibition-area__items
      a(href="https://booth.e-taitra.com.tw/en-US/m/2020FS/14" target="_blank").item
        .item__content
          .title 05.
          .content Media
        .item__mask
        .item__bg
          img(class="pc-img" src="../images/area-5.jpg")
          img(class="mobile-img" src="../images/area-mobile-5.png")