#information-block.content-block
  .content-wrap
    .content__image
      img(src="../images/slide-1.png")
    .content__text
      .line Exhibition
      .line Information
    .content__btn
      a(href="http://google.com" target="_blank").btn-link
        .btn-text READ MORE
        .btn-bg
          img(src="../images/content-btn.svg")
  .content-bg
    .bg-hex
      img(src="../images/bg-hex-2.png")
    .bg-hex
      img(src="../images/bg-hex-3.png")
