#loading-block
  //- .run-hex-wrap
  //-   svg(version="1.1" viewBox="-50 -50 340 340")
  //-     path(d="M104,0 L208,60 L208,180 L104,240 L0,180 L0,60z" stroke="#ffffff" stroke-width="50" fill="#ffffff" fill-opacity="0")
  //- .run-hex-line