.main-block
  .main-wrap
    .content
      .content__title#main-title
        img(src="../images/main-title.png")
      .content__btn
        #first-btn START
        .bg-hex-wrap
          .bg-hex
            svg(version="1.1" viewBox="-1 -1 240 300")
              path(d="M104,0 L208,60 L208,180 L104,240 L0,180 L0,60z" stroke="#ffffff" stroke-width="1" fill="#ffffff" fill-opacity="0")
            //- img(src="../images/bg-hex-1.png")
          .bg-hex
            svg(version="1.1" viewBox="-1 -1 240 300")
              path(d="M104,0 L208,60 L208,180 L104,240 L0,180 L0,60z" stroke="#ffffff" stroke-width="1" fill="#ffffff" fill-opacity="0")
            //- img(src="../images/bg-hex-2.png")
          .bg-hex
            svg(version="1.1" viewBox="-1 -1 240 300")
              path(d="M104,0 L208,60 L208,180 L104,240 L0,180 L0,60z" stroke="#ffffff" stroke-width="1" fill="#ffffff" fill-opacity="0")
            //- img(src="../images/bg-hex-3.png")
          .bg-hex
            svg(version="1.1" viewBox="-1 -1 240 300")
              path(d="M104,0 L208,60 L208,180 L104,240 L0,180 L0,60z" stroke="#ffffff" stroke-width="1" fill="#ffffff" fill-opacity="0")
            //- img(src="../images/bg-hex-4.png")
          .bg-hex
            svg(version="1.1" viewBox="-1 -1 240 300")
              path(d="M104,0 L208,60 L208,180 L104,240 L0,180 L0,60z" stroke="#ffffff" stroke-width="1" fill="#ffffff" fill-opacity="0")
            //- img(src="../images/bg-hex-5.png")
          .bg-hex
            svg(version="1.1" viewBox="-1 -1 240 300")
              path(d="M104,0 L208,60 L208,180 L104,240 L0,180 L0,60z" stroke="#ffffff" stroke-width="1" fill="#ffffff" fill-opacity="0")
            //- img(src="../images/bg-hex-6.png")
      