.main-block
  .main-wrap
    .content
      .content__title#main-title
        img(src="../images/main-title.png")
      .content__btn
        #first-btn START
        .bg-hex-wrap
          .bg-hex
            svg(version="1.1" viewBox="-1 -1 210 242")
              path(d="M104,0 L208,60 L208,180 L104,240 L0,180 L0,60z" stroke="#ffffff" stroke-width="0.5" fill="#ffffff" fill-opacity="0")
          .bg-hex
            svg(version="1.1" viewBox="-1 -1 210 242")
              path(d="M104,0 L208,60 L208,180 L104,240 L0,180 L0,60z" stroke="#ffffff" stroke-width="0.15" fill="#ffffff" fill-opacity="0")
          .bg-hex
            svg(version="1.1" viewBox="-1 -1 210 242")
              path(d="M104,0 L208,60 L208,180 L104,240 L0,180 L0,60z" stroke="#ffffff" stroke-width="0.25" fill="#ffffff" fill-opacity="0")
          .bg-hex
            svg(version="1.1" viewBox="-1 -1 210 242")
              path(d="M104,0 L208,60 L208,180 L104,240 L0,180 L0,60z" stroke="#ffffff" stroke-width="0.1" fill="#ffffff" fill-opacity="0")
          .bg-hex
            svg(version="1.1" viewBox="-1 -1 210 242")
              path(d="M104,0 L208,60 L208,180 L104,240 L0,180 L0,60z" stroke="#ffffff" stroke-width="0.08" fill="#ffffff" fill-opacity="0")
          .bg-hex
            svg(version="1.1" viewBox="-1 -1 210 242")
              path(d="M104,0 L208,60 L208,180 L104,240 L0,180 L0,60z" stroke="#ffffff" stroke-width="0.1" fill="#ffffff" fill-opacity="0")