.main-block
  .main-wrap
    .content-bg
      .bg-item-1
        //- img(src="../images/test2.svg")
    .content
      .content__title
        img(src="../images/main-title.png")
      #first-btn START
      