.main-block
  .main-wrap
    .content
      .content__title#main-title
        img(src="../images/main-title.png")
      .content__btn
        #first-btn START
        .bg-hex-wrap
          .bg-hex
            img(src="../images/bg-hex-1.png")
          .bg-hex
            img(src="../images/bg-hex-2.png")
          .bg-hex
            img(src="../images/bg-hex-3.png")
          .bg-hex
            img(src="../images/bg-hex-4.png")
          .bg-hex
            img(src="../images/bg-hex-5.png")
          .bg-hex
            img(src="../images/bg-hex-6.png")
      