.menu-block
  #menu-btn.menu-btn
    img(src="../images/menu-btn.svg")
  .menu-wrap
    ul.menu-list
      li.menu-list__items
        .item
          .line Exhibition
          .line Information
      li.menu-list__items
        .item
          .line Exhibition  Area
      li.menu-list__items
        .item
          .line Exhibitor
          .line List
      li.menu-list__items
        .item
          .line Event
      li.menu-list__items
        .item
          .line Show Preview
      li.menu-list__items
        .item
          .line Tts D’channel
  .menu-mask