.menu-block
  #menu-btn.menu-btn
    img(src="../images/menu-btn.svg")
  .menu-wrap
    ul.menu-list
      li.menu-list__items(data-id="1")
        .item
          .line Exhibition
          .line Information
      li.menu-list__items(data-id="2")
        .item
          .line Exhibition  Area
      li.menu-list__items(data-id="3")
        .item
          .line Exhibitor
          .line List
      li.menu-list__items(data-id="4")
        .item
          .line Event
      li.menu-list__items(data-id="5")
        .item
          .line TTS D’Channel
      li.menu-list__items(data-id="6")
        .item
          .line Show Preview
  .menu-mask