#preview-block.content-block
  .content-wrap
    .content
      .content__image
        img(src="../images/slide-6.png")
      .content__btn
        .btn-link#area-btn
          .btn-text READ MORE
          .btn-bg
            img(src="../images/content-btn.png")
      .content__text
        .line Show Preview
  .content-bg
    .bg-hex
      img(src="../images/bg-hex-2.png")
    .bg-hex
      img(src="../images/bg-hex-3.png")