.admin-image-block-segmentation{
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 1700px){
        flex-direction: column;
    }
    .admin-image-block-segmentation__box{
        width: 50%;
        margin-bottom: 15px;
    }
}