.admin-form{
    width: 100%;
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 5px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        padding: 6px 12px;
        box-sizing: border-box;
        background-color: $colorWhite;
        .header__title{
            color: $colorSecond;
            font-size: $font-size-16;
        }
    }
    &__content{
        background-color: $colorWhite;
        &.image-upload-mode{
            padding: 14px;
        }
        &.input-mode{
            padding: 14px;
        }
        &__item-block{
            width: 100%;
            border-bottom: 1px dashed $colorDashed;
            padding: 10px 0;
        }
        &__item-block:last-child{
            border: 0;
            padding-bottom: 0;
        }
        &__title{
            font-size: $font-size-16;
            display: flex;
            margin-bottom: 10px;
            &::before{
                content: "";
                width: 4px;
                height: 14px;
                background-color: $colorMain;
                margin-top: 4px;
                margin-right: 4px;
            }
        }
        &__item-padding{
            padding: 5px 0;
            &._add-line{
                width: 100%;
                height: 1px;
                border-bottom: 1px dashed $colorDashed;
                padding: 0;
                margin-top: 5px;
                margin-bottom: 5px;
                box-sizing: border-box;
            }
        }
    }
}