.admin-textarea-block{
    display: flex;
    align-items: flex-start;
    .admin-textarea-block__label{
        width: 217px;
        display: block;
        color: $colorSecond;
        font-size: $font-size-16;
        position: relative;
    }
    .admin-textarea-block__content{
        width: calc(100% - 217px);
        .admin-textarea-block__content__textarea{
            width: 100%;
            height: 84px;
            resize: none;
            outline: 0;
            padding: 6px 15px;
            box-sizing: border-box;
            border-color: $color4;
            border-radius: 3px;
            &.height260px{
                height: 260px;
            }
        }
        .admin-textarea-block__content__placeholder{
            margin-top: 10px;
            color: $colorSidebar1;
            font-size: $font-size-12;
        }
    }
}