.admin-filter-block {
    box-sizing: border-box;
    &__date {
        .date-filter {
            display: flex;
            align-items: center;
            &__date {
                margin: 0px 8px;
                position: relative;
                &:first-child{
                    margin-left: 0;
                }
                input {
                    width: 212px;
                    height: 29px;
                    padding-left: 30px;
                    box-sizing: border-box;
                    border-radius: 3px;
                    border: 1px solid #d2d2d2;
                    font-size: $font-size-12;
                }
                &::after {
                    display: block;
                    content: "";
                    width: 16px;
                    height: 16px;
                    background: url(../images/backend/date-icon.png) center center no-repeat;
                    background-size: contain;
                    position: absolute;
                    top: 7px;
                    left: 12px;
                }
            }
        }
    }
}