.admin-input-block{
    display: flex;
    align-items: flex-start;
    .admin-input-block__label{
        width: 217px;
        display: block;
        color: $colorSecond;
        font-size: $font-size-16;
        margin-top: 2px;
        position: relative;
        &.required{
            padding-left: 7px;
            box-sizing: border-box;
            &:before{
                position: absolute;
                content: "*";
                left: 0;
                top: 0;
                color: $color5;
                font-size: $font-size-12;
                margin-right: 10px;
            }
        }
    }
    .admin-input-block__content{
        width: calc(100% - 217px);
        &.row-mode{
            display: flex;
            align-items: center;
            .admin-input-block__content__input{
                width: calc(50% - 12px);
                margin-right: 12px;
            }
            .admin-input-block__content__input:last-child{
                margin-left: 12px;
                margin-right: 0;
            }
        }
        .admin-input-block__content__input{
            border: 1px solid $color4;
            border-radius: 3px;
            width: 100%;
            height: 29px;
            padding: 0 15px;
            box-sizing: border-box;
            color: $colorSecond;
            &.mb12px{
                margin-bottom: 12px;
            }
            &::-webkit-inner-spin-button, 
            &::-webkit-outer-spin-button { 
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0; 
            }
            &.disabled {
                color: #bcbcbc;
                background-color:#eeeeee;
            }
        }
        .admin-input-block__content__placeholder {
            margin-top: 10px;
            color: $colorSidebar1;
            font-size: $font-size-12;
        }
        &.input-date {
            position: relative;
            &:after {
                display: block;
                content: "";
                width: 16px;
                 height: 16px;
                background: url(../images/backend/date-icon.png) center center no-repeat;
                background-size: contain;
                position: absolute;
                top: 7px;
                left: 12px;
            }
            input {
                padding-left: 30px;
                box-sizing: border-box;
            }
        }
    }
}