.admin-item-block{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
    &._radio-show-hide-mode{
        .admin-item-block__content .admin-item-block__content__radio{
            .radio-label{
                color: #d2d2d2;
            }
            .radio-input{
                pointer-events:none;
                opacity:0.2;
            }
        }
        &._show{
            .admin-item-block__content .admin-item-block__content__radio{
                .radio-label{
                    color: $colorSecond;
                }
                .radio-input{
                    pointer-events: visible;
                    opacity: 1;
                }
            }
        }
    }
    &._align-items-start{
        align-items: flex-start;
        .admin-item-block__content{
            margin-top: 0;
        }
    }
    &__label{
        width: 230px;
        display: block;
        color: $colorSecond;
        font-size: $font-size-16;
        position: relative;
        &._required{
            &:after{
                position: relative;
                content: "*";
                right: 0;
                top: 0;
                color: #ff0000;
                font-size: $font-size-12;
            }
        }
    }
    &__content{
        width: calc(100% - 230px);
        margin-top: 5px;
        &._row-mode{
            display: flex;
            align-items: center;
        }
        &._checkbox-wrap-mode{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        &__placeholder {
            margin-top: 5px;
            color: #949090;
            font-size: $font-size-12;
            &._colorR{
                color: #ff0000;
            }
        }
        &__checkbox{
            display: flex;
            align-items: center;
            margin-right: 24px;
            .item__checkbox{
                width: 15px;
                height: 15px;
                margin: 0;
            }
            .item__checkbox-title{
                margin-left: 10px;
                color: $colorSecond;
                font-size: $font-size-16;
            }
        }
        &__input{
            border: 1px solid #d2d2d2;
            border-radius: 3px;
            width: 100%;
            height: 29px;
            padding: 0 15px;
            box-sizing: border-box;
            color: $colorSecond;
            font-size: $font-size-12;
            &::-webkit-inner-spin-button, 
            &::-webkit-outer-spin-button { 
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0; 
            }
        }
        // 時間選擇input
        &__date{
            position: relative;
            .date-input{
                border: 1px solid #d2d2d2;
                border-radius: 3px;
                width: 212px;
                height: 29px;
                padding: 0 15px 0 30px;
                box-sizing: border-box;
                color: $colorSecond;
                font-size: $font-size-12;
                &::-webkit-inner-spin-button, 
                &::-webkit-outer-spin-button { 
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    margin: 0; 
                }
            }
            &:after {
                display: block;
                content: "";
                width: 16px;
                height: 16px;
                background: url(../images/backend/date-icon.png) center center no-repeat;
                background-size: contain;
                position: absolute;
                top: 7px;
                left: 12px;
            }
        }

        &__select{
            border: 1px solid #d2d2d2;
            border-radius: 3px;
            min-width: 212px;
            height: 29px;
            box-sizing: border-box;
            background-color: #ffffff;
            font-size: $font-size-12;
            &:focus{
                outline: none;
            }
        }
        &__text{
            font-size: $font-size-12;
            color: $colorBlack;
            margin-right: 8px;
            font-size: $font-size-16;
            &:last-child{
                margin-right: 0;
            }
        }
        &__radio{
            margin-right: 24px;
            &:last-child{
                margin-right: 0;
            }
            .radio-input{
                width: 16px;
                height: 16px;
                margin-left: 0;
            }
            .radio-label{
                color: $colorBlack;
                font-size: $font-size-16;
            }
        }
        &__textarea{
            width: 100%;
            height: 84px;
            outline: 0;
            resize: vertical;
            padding: 6px 15px;
            box-sizing: border-box;
            border-color: #d2d2d2;
            border-radius: 3px;
            &._height260px{
                height: 260px;
            }
        }
        // 功能btn
        &__features-btn{
            display: flex;
            align-items: center;
            padding: 0 20px;
            height: 29px;
            border: 1px solid #d2d2d2;
            box-sizing: border-box;
            border-radius: 3px;
            color: $colorSecond;
            font-size: $font-size-12;
            @include transition(.4s);
            margin-right: 8px;
            cursor: pointer;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                background-color: #efefef;
                @include transition(.4s);
            }
        }

        // 連結btn
        &__link-btn{
            height: 29px;
            border: 1px solid #d2d2d2;
            box-sizing: border-box;
            border-radius: 3px;
            display: inline-block;
            padding: 0 20px;
            cursor: pointer;
            @include transition(.4s);
            &:hover{
                background-color: #efefef;
                @include transition(.4s);
            }
            .link-btn__content{
                color: $colorSecond;
                font-size: $font-size-12;
            }
        }

        // 圖片上傳
        &__image-upload{
            &._row-mode{
                position: relative;
                .imgae-upload__picture{
                    position: absolute;
                    left: 0;
                    margin-bottom: 0;
                    margin-right: 30px;
                    height: 100px;
                    width: 180px;
                    display: none;
                    >img{
                        height: auto;
                    }
                }
                &.show{
                    .imgae-upload__picture{
                        display: block;
                    }
                    .imgae-upload__controller{
                        position: relative;
                        left: 210px;
                    }
                    .image-upload__content{
                        position: relative;
                        left: 210px;
                    }
                }
            }
            &._show{
                .picture{
                    display: block;
                }
            }
            .picture{
                height: 50px;
                margin-bottom: 17px;
                position: relative;
                display: none;
                >img{
                    height: 100%;
                    width: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .controller{
                display: flex;
                align-items: center;
                &__hidden-input{
                    pointer-events: none;
                    visibility: hidden;
                    width: 0;
                    margin-top: 0;
                }
                &__button{
                    position: relative;
                    width: 70px;
                    height: 29px;
                    overflow: hidden;
                    margin-right: 9px;
                    &:hover{
                        .button__input-style{
                            background-color: #efefef;
                            @include transition(.4s);
                        }
                    }
                    .button__input{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        z-index: 1;
                        cursor: pointer;
                        font-size: $font-size-12;
                    }
                    .button__input-style {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #d2d2d2;
                        box-sizing: border-box;
                        border-radius: 3px;
                        font-size: $font-size-12;
                        color: $colorSecond;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include transition(.4s);
                    }
                }
                &__info{
                    align-items: center;
                    display: none;
                    &._show{
                        display: flex;
                    }
                    .info__content{
                        color: $colorSecond;
                        font-size: $font-size-12;
                    }
                    .info__close{
                        position: relative;
                        width: 10px;
                        height: 10px;
                        margin-top: 5px;
                        margin-left: 5px;
                        background: url('../images/backend/close-red.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        cursor: pointer;
                    }
                }
            }
            .content{
                margin-top: 17px;
                &__description{
                    font-size: $font-size-12;
                    color: $colorSecond;
                    margin-bottom: 6px;
                }
            }
        }
    }
}