// 此樣式基於datatables模組樣式去改寫
.webform-list-wrapper {
    margin-top: 30px;
}

.admin-item-checkbox{
    margin: 3px 0 0 0;
}

.table-wrapper-scroll{
    overflow-x: scroll;
    width: 100%;
}

.admin-table-style {
    padding-left: 0;
    padding-right: 0;
    display: none;
    opacity: 0;
    @include transition(.2s);
    border: 1px solid $colorTableBroderColor !important;
    margin-bottom: 10px !important;
    thead {
        tr {
            background-color: $colorTableTop;
            th {
                padding: 8px 15px;
                border-bottom: 1px solid #dedede;
                border-right: 1px solid $colorTableOdd;
                white-space: nowrap;
                &.hide-sort-tag{
                    &::after {
                        display: none !important;
                    }
                }
                &:last-child {
                    border-right: 0px;
                }
                &.sorting {
                    background: unset;
                    &::after {
                        content: "";
                        display: inline-block;
                        width: 6px;
                        height: 12px;
                        background: url(../images/backend/sort.png) center center no-repeat;
                        background-size: 100%;
                        margin-left: 5px;
                    }
                }
                &.sorting_asc {
                    background: unset;
                    &::after {
                        content: "";
                        display: inline-block;
                        width: 6px;
                        height: 12px;
                        background: url(../images/backend/sort_asc.png) center center no-repeat;
                        background-size: 100%;
                        margin-left: 5px;
                    }
                }
                &.sorting_desc {
                    background: unset;
                    &::after {
                        content: "";
                        display: inline-block;
                        width: 6px;
                        height: 12px;
                        background: url(../images/backend/sort_desc.png) center center no-repeat;
                        background-size: 100%;
                        margin-left: 5px;
                    }
                }
                .admin-item-sort-title {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    min-width: 70px;
                    &__button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 20px;
                        margin-left: 5px;
                        font-size: 10px;
                        font-weight: lighter;
                        background-color: $colorWhite;
                        border: 1px solid #d2d2d2;
                        border-radius: 3px;
                        cursor: pointer;
                        @include transition(.4s);
                        &:hover {
                            background-color: #efefef;
                            @include transition(.4s);
                        }
                    }
                }
                &.admin-item-hide{
                    display: none;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 8px 15px;
                text-align: center;
                border-bottom: 0px;
                border-right: 1px solid $colorTableOdd;
                vertical-align: middle;
                position: relative;
                word-break: keep-all;
                &.admin-item-hide{
                    display: none;
                }
                &.fs12{
                    font-size: $font-size-12;
                }
                &:last-child {
                    border-right: 0px;
                }
                span {
                    &.hide {
                        color: #cc2a30;
                    }
                }
                .item-image{
                    height: 50px;
                    overflow: hidden;
                    img {
                        height: 100%;
                    }
                }
                input[type=text].admin-item-sort {
                    width: 20px;
                    text-align: center;
                }
                .admin-item-text-ellipsis-block{
                    max-width: 500px;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: inline-block;
                    @media (max-width: 1105px){
                        max-width: 300px;
                    }
                }
                .admin-item-scan-block{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &__num{
                        font-size: $font-size-16;
                        color: $colorBlack;
                        min-width: 30px;
                    }
                    &__button{
                        min-width: 45px;
                        margin-left: 8px;
                        padding: 3px 8px;
                        background-color: $colorWhite;
                        border: 1px solid #d2d2d2;
                        border-radius: 3px;
                        box-sizing: border-box;
                        font-size: 12px;
                        color: $colorBlack;
                        @include transition(0.4s);
                        &:hover{
                            background-color: #efefef;
                            @include transition(0.2s);
                        }
                        &.ml0{
                            margin-left: 0;
                        }
                    }
                }
                .admin-item-select-block{
                    border: 1px solid #d2d2d2;
                    border-radius: 3px;
                    height: 29px;
                    box-sizing: border-box;
                    background-color: #ffffff;
                    font-size: $font-size-12;
                    &:focus{
                        outline: none;
                    }
                }
                .admin-item-date-block{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &__item{
                        position: relative;
                        margin-right: 5px;
                        &__input{
                            border: 1px solid #d2d2d2;
                            border-radius: 3px;
                            max-width: 260px;
                            width: 100%;
                            height: 29px;
                            padding-right: 15px;
                            padding-left: 30px;
                            box-sizing: border-box;
                            color: $colorSecond;
                            font-size: $font-size-12;
                        }
                        &::after {
                            display: block;
                            content: "";
                            width: 16px;
                            height: 16px;
                            background: url(../images/backend/date-icon.png) center center no-repeat;
                            background-size: contain;
                            position: absolute;
                            top: 7px;
                            left: 12px;
                        }
                    }
                    &__btn{
                        border: 1px solid #d2d2d2;
                        border-radius: 3px;
                        padding: 0 5px;
                        height: 29px;
                        box-sizing: border-box;
                        background-color: #ffffff;
                        font-size: $font-size-12;
                        cursor: pointer;
                        @include transition(.4s);
                        &:hover{
                            background-color: #efefef;
                            @include transition(.4s);
                        }
                    }
                }
                &._error {
                    &::after {
                        content: "只能輸入數字!";
                        font-size: 10px;
                        color: #ff0000;
                        position: absolute;
                        bottom: 15px;
                        left: 50%;
                        margin-left: -38px;

                    }
                }
            }
            .item-controller {
                display: flex;
                justify-content: center;
                &__delete {
                    margin: 0px 8px;
                    a {
                        display: block;
                        width: 18px;
                        height: 18px;
                        background: url(../images/backend/delete-icon.png) center center no-repeat;
                        background-size: contain;
                        @include transition(.4s);
                        &:hover{
                            opacity: 0.6;
                            @include transition(.4s);
                        }
                    }
                }
                &__view {
                    margin: 0px 8px;
                    a {
                        display: block;
                        width: 18px;
                        height: 18px;
                        background: url(../images/backend/view-icon.png) center center no-repeat;
                        background-size: contain;
                        @include transition(.4s);
                        &:hover{
                            opacity: 0.6;
                            @include transition(.4s);
                        }
                    }
                }
                &__edit {
                    margin: 0px 8px;
                    a {
                        display: block;
                        width: 18px;
                        height: 18px;
                        background: url(../images/backend/edit-icon.png) center center no-repeat;
                        background-size: contain;
                        @include transition(.4s);
                        &:hover{
                            opacity: 0.6;
                            @include transition(.4s);
                        }
                    }
                }
            }
            &.odd {
                background-color: $colorTableOdd;
            }
            &.even {
                background-color: $colorTableEven;
            }
            &:hover {
                background-color: $colorTableHover;
            }
            &.active {
                background-color: $colorTableActive;
            }
        }
    }
    &._show {
        opacity: 1;
        display: table;
        @include transition(.2s);
    }
}

.admin-content {
    .no-article {
        padding-top: 40px;
    }
}

.dataTables_wrapper {
    .top-search{
        display: inline-block;
        margin-bottom: 16px;
        .dataTables_filter{
            float: left;
            input{
                width: 350px;
                height: 30px;
                border: 1px solid #d2d2d2;
                border-radius: 3px;
                padding: 0 15px;
                margin-left: 0;
                color: $colorBlack;
                font-size: $font-size-12;
            }
        }
    }
    .top-page {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 16px;
        .dataTables_info {
            font-size: $font-size-16;
            padding: 0px;
            span {
                color: #02903f;
            }
        }
        .dataTables_paginate {
            padding: 0px;
            margin-left: 18px;
            select {
                display: block;
                width: 65px;
                height: 25px;
                font-size: $font-size-16;
                background-color: #f9f9f9;
                border: 1px solid #ececec;
            }
        }
    }
}

.table-list-wrapper {
    position: relative;
}