.admin-imgae-upload{
    &.row-mode{
        position: relative;
        .imgae-upload__picture{
            position: absolute;
            left: 0;
            margin-bottom: 0;
            margin-right: 30px;
            height: 100px;
            width: 180px;
            display: none;
            >img{
                height: auto;
            }
        }
        &.show{
            .imgae-upload__picture{
                display: block;
            }
            .imgae-upload__controller{
                position: relative;
                left: 210px;
            }
            .image-upload__content{
                position: relative;
                left: 210px;
            }
        }
    }
    &.show{
        .imgae-upload__picture{
            display: block;
        }
    }
    .imgae-upload__picture{
        height: 50px;
        margin-bottom: 17px;
        position: relative;
        display: none;
        >img{
            height: 100%;
            width: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
    .imgae-upload__controller{
        display: flex;
        align-items: center;
        .imgae-upload__controller__button{
            position: relative;
            width: 70px;
            height: 26px;
            overflow: hidden;
            margin-right: 9px;
            &:hover{
                .button__input-style{
                    background-color: #efefef;
                    @include transition(.4s);
                }
            }
            .button__input{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 1;
                cursor: pointer;
                font-size: 11px;
            }
            .button__input-style {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid #d2d2d2;
                box-sizing: border-box;
                border-radius: 2px;
                font-size: $font-size-12;
                color: $colorSecond;
                text-align: center;
                line-height: 2;
                @include transition(.4s);
            }
        }
        .imgae-upload__controller__info{
            align-items: center;
            display: none;
            &.show{
                display: flex;
            }
            .info__content{
                color: $colorSecond;
                font-size: $font-size-12;
            }
            .info__close{
                position: relative;
                width: 10px;
                height: 10px;
                margin-top: 5px;
                margin-left: 5px;
                background: url('../images/backend/close-red.png');
                background-repeat: no-repeat;
                background-size: cover;
                cursor: pointer;
            }
        }
    }
    .image-upload__content{
        margin-top: 17px;
        .content__description{
            font-size: $font-size-12;
            color: $colorSecond;
            margin-bottom: 6px;
        }
    }
}