.admin-change-language-block{
    display: none;
    width: 60px;
    height: 27px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 2px solid $colorMain;
    align-items: center;
    margin-bottom: 24px;
    &.show{
        display: flex;
    }
    .admin-change-language-btn{
        width: 50%;
        height: 100%;
        text-align: center;
        font-size: 16px;
        color: $colorMain;
        &.select{
            background-color: $colorMain;
            color: #ffffff;
        }
        &:hover{
            background-color: $colorMain;
            color: #ffffff;
            @include transition(.4s);
        }
    }
}