.admin-sidebar {
    @include transition(0.4s);
    .admin-sidebar-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        border-right: 1px solid #ececec;
        box-sizing: border-box;
        .sidebar-menu-list {
            .menu-list {
                &__item {
                    border-bottom: 1px solid rgba(224, 224, 224, 0.5);
                    &__title {
                        display: flex;
                        flex-wrap: nowrap;
                        font-size: 16px;
                        color: $colorBlack;
                        padding: 9px 30px 9px 20px;
                        background-color: $colorWhite;
                        position: relative;
                        @include transition(0.2s);
                        cursor: pointer;
                        &::before {
                            display: block;
                            content: "";
                            width: 16px;
                            height: 16px;
                            margin-right: 12px;
                            margin-top: 3px;
                            background: url(../images/backend/sidebar-icon.png) center center no-repeat;
                            background-size: contain;
                            @include transition(0.2s);
                        }
                        &::after {
                            display: block;
                            content: "";
                            width: 10px;
                            height: 10px;
                            background: url(../images/backend/sidebar-arrow.png) center center no-repeat;
                            background-size: contain;
                            position: absolute;
                            top: 50%;
                            right: 20px;
                            margin-top: -5px;
                            @include transition(0.2s);
                        }
                        &:hover {
                            color: $colorWhite;
                            background-color: $colorSidebar1;
                            @include transition(0.2s);
                            &::before {
                                background: url(../images/backend/sidebar-icon-h.png) center center no-repeat;
                                background-size: contain;
                                @include transition(0.2s);
                            }
                            &::after {
                                background: url(../images/backend/sidebar-arrow-h.png) center center no-repeat;
                                background-size: contain;
                                @include transition(0.2s);
                            }
                        }
                    }
                    .sub-menu {
                        display: none;
                        &__item {
                            a {
                                display: block;
                                color: $colorBlack;
                                font-size: 16px;
                                padding: 9px 20px 9px 48px;
                                background-color: $colorSidebar3;
                                &:hover {
                                    background-color: $colorSidebar2;
                                }
                            }
                            &._active {
                                a {
                                    background-color: $colorSidebar2;
                                }   
                            }
                        }
                    }
                    &._active {
                        .menu-list__item__title {
                            color: $colorWhite;
                            background-color: $colorSidebar1;
                            @include transition(0.2s);
                            &::before {
                                background: url(../images/backend/sidebar-icon-h.png) center center no-repeat;
                                background-size: contain;
                                @include transition(0.2s);
                            }
                            &::after {
                                background: url(../images/backend/sidebar-arrow-h.png) center center no-repeat;
                                background-size: contain;
                                @include transition(0.2s);
                            }
                        }
                    }
                }
            }
        }
        .sidebar-producer {
            display: flex;
            justify-content: center;
            font-size: 10px;
            margin-top: 50px;
            margin-bottom: 12px;
            &__link {
                margin-left: 5px;
                a{
                    color: $colorBlack;
                    @include transition(.4s);
                }
                a:hover {
                    color: $colorMain;
                    @include transition(.4s);
                }
            }
        }
    }
    &._hidden {
        margin-left: -200px;
        @include transition(0.4s);
    }
}