//- Website Favicon

//- Website Information
meta(name='description' content='')
meta(name='keywords' content='')
meta(property='og:site_name' contnent='')
meta(property='og:type' content='website')
meta(property='og:title' contnent='')
meta(property='og:description' contnent='')
meta(property='og:url' contnent='')
meta(property='og:images' content='測試內容')

//- Website Settings
meta(charset='UTF-8')
meta(name="format-detection" content="telephone=no")
meta(name='viewport' content='width=device-width, initial-scale=1.0')

//- slick-carousel預設樣式
//- link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
//- link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css")
