extends ../../layouts/default.pug

block head
    title
block content
    //- #admin-template-list-block.admin-about-list-block
    //-     .admin-page-header-controller-button-block
    //-         .button-block__item
    //-             .admin-add-button-block
    //-                 a(href="/admin/about/add")
    //-                     +adminFormCustomButton("add-new-item","新增項目")
    //-         .button-block__item
    //-             .admin-show-hide-delete-button-block.event-list-show-hide-delete-button
    //-                 .admin-show-hide-delete-button-block__line
    //-                 .admin-show-hide-delete-button-block__icon-block
    //-                     .admin-show-hide-delete-button-block__icon-block__item.show-icon.all-show-btn
    //-                     .admin-show-hide-delete-button-block__icon-block__item.hide-icon.all-hide-btn
    //-                     .admin-show-hide-delete-button-block__icon-block__item.delete-icon.all-delete-btn
    //-     .table-list-wrapper
    //-         table#admin-about-list.admin-table-style
    //-             thead
    //-                 tr
    //-                     th.hide-sort-tag
    //-                         input(type="checkbox").admin-item-checkbox.admin-table-first-checkbox
    //-                     th #
    //-                     th 
    //-                         .admin-item-sort-title
    //-                             .admin-item-sort-title__title 排序
    //-                             .admin-item-sort-title__button#save-button 儲存
    //-                     th 標題
    //-                     th 狀態
    //-                     th 最後更新時間
    //-                     th 更新管理員
    //-                     th 動作
    //-             tbody
    //-                 tr
    //-                     td
    //-                         input(type="checkbox").admin-item-checkbox
    //-                     td
    //-                     td
    //-                         input(type='text').admin-item-sort
    //-                     td
    //-                     td
    //-                     td
    //-                     td
    //-                     td.item-controller
    //-                         .item-controller__delete
    //-                             a(href="/")
    //-                         .item-controller__edit
    //-                             a(href="/")