extends ../../layouts/default.pug

block content
    h1 飛碩首頁
    //- include ../../components/slider.pug
    //- include block/info.pug
    //- include block/about.pug
    //- include block/service.pug
    //- include block/news.pug
    //- include block/factory.pug
    //- include block/contact.pug