.content-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  .content-wrap {
    position: relative;
    &__image {
      width: 700px;
      position: absolute;
      top: -380px;
      left: -510px;
    }
    &__text {
      font-size: 90px;
      color: #ffffff;
      position: absolute;
      top: 170px;
      left: 70px;
    }
    &__btn {
      width: 275px;
      height: 275px;
      position: absolute;
      top: -80px;
      left: 400px;
      transition: all .5s;

      &:hover {
        transform: scale(1.1);
      }

      .btn-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;

        .btn-text {
          font-size: 16px;
          color: #ffb931;
          position: relative;
          z-index: 1;
        }
        
        .btn-bg {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
        }
      }
    }
  }
  .content-bg {
    position: relative;
    .bg-hex {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}