@import './menu.scss';
@import './main-block.scss';
@import './content-block.scss';
@import './exhibition-area.scss';

.main-content {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  position: relative;

  #stats {
    display: none;
  }

  #bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .main-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
  }

  .special-layer {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
  }
}