.area-content {
  display: flex;
  width: 100%;
  height: 100vh;

  &__items {
    flex-basis: 20%;
    max-width: 20%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all .5s;
    &.select {
      flex-basis: 50%;
      max-width: 50%;

      .item {
        &__mask {
          // background-color: rgba($color: #ffff00, $alpha: 0.6);
        }
      }
    }
    &.unselect {
      flex-basis: 12.5%;
      max-width: 12.5%;
    }

    .item {
      &__content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        padding: 50px 25px;
        box-sizing: border-box;
        color: #ffffff;
      }
      &__mask {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        background-color: rgba($color: #000000, $alpha: 0.6);
      }
      &__bg {
        img {
          width: auto;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -3;
          -webkit-filter:grayscale(1);
        }
      }
    }
  }
}