.admin-news-list-block {
    .prompt{
        font-size: $font-size-14;
        color: $colorWhite;
        background-color: $colorMain;
        border: 1px solid $color5;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 3px 8px;
        margin-bottom: 10px;
    }
    .add-new-item {
        position: relative;
        z-index: 10;
        max-width: 90px;
    }
}